.container{
  height:80vh;
  /* width: 100px; */
  display:flex;
  flex-direction:column;
   /* justify-content: space-around; */
  background-color: #0f172a;

}

.box{
  height:500px;
  width:450px;

  margin: 50px  100px;

}
.content{
  font-size: large;
  font-style: italic;
  text-align: left;
  line-height: 1.6;
  text-decoration: #fff;
}